@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* header section */

header {
    background-color: #3c6e71;
    padding: 0.5em;
    text-align: center;
}

#quiztitle {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}

/* icon logo */

i.fa-sharp.fa-solid.fa-clock-rotate-left {
    margin-left: 0.4em;
}



/* sub heading */

#quizsubtitle {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 0.25em;
    font-size: 0.8em;
}

/*class to hide DOM elements */

.hide {
    display: none!important;
}

#no-javascript {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
}



/* ready to quiz sub heading */

#quizready {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #353535;
    padding: 0.25em;
    font-size: 0.8em;
}

/* Current score and question number section */

.progressArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#progress {
    padding: 1em;
    font-size: 1.3em;
}

#currentScore {
    padding: 1em;
    font-size: 1.3em;
}

/* Main quiz section */

li {
    list-style-type: none;
}

#mainquiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
    padding: 0.7em;
}

/* Radio buttons - scaled up */

input#a.answer {
    transform: scale(1.5);
}

input#b.answer {
    transform: scale(1.5);
}

input#c.answer {
    transform: scale(1.5);
}

input#d.answer {
    transform: scale(1.5);
}

/* submit button */

button {
    background-color: #3c6e71;
    color: #fff;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #353535;
}

/*Question font increased while header and subheader decreased for mobile users*/

@media screen and (max-width: 500px) {

    #mainquiz {
        padding: 0.5em;
    }

    #topquestion {
        font-size: 1.8em;
    }

    #quiztitle {
        font-size: 1.2em;
    }

    #quizsubtitle {
        font-size: 0.6em;
        text-align: center;
    }

    #quizready {
        font-size: 0.6em;
    }

    label#a_text {
        font-size: 1.2em;
    }

    label#b_text {
        font-size: 1.2em;
    }

    label#c_text {
        font-size: 1.2em;
    }

    label#d_text {
        font-size: 1.2em;
    }
}

/* make smaller phones have progress area column vs row flex and reduce padding */
@media screen and (max-width: 430px) {

    .progressArea {
        flex-direction: column;
        align-items: flex-end;
        font-size: 14px;
    }

    #progress, #currentScore {
        padding: 0.2rem 0;
    }
}